
{% extends "pages/base.html" %}
{% block title %}CHẨN ĐOÁN{% endblock %}

{% block content %}
{% load staticfiles %}
 
<!-- header inner -->
<div class="contact">
         <div class="container">
            <div class="row">
                <div class="col-md-12">
                     <div class="titlepage text_align_left">
                        <h2>Các triệu chứng</h2>
                     </div>
                  </div>
            </div>
            <div class="row">
               <div class="col-md-6">
                  <form id="request" class="main_form">
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="menu_footer" for="defaultCheck1">
                           Ho
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                        <label class="menu_footer" for="defaultCheck2">
                           Sốt
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="menu_footer" for="defaultCheck3">
                           Khó thở
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                        <label class="menu_footer" for="defaultCheck4">
                           CRP tăng
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="menu_footer" for="defaultCheck5">
                           Ho
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                        <label class="menu_footer" for="defaultCheck6">
                           Sốt
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="menu_footer" for="defaultCheck7">
                           Ho
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                        <label class="menu_footer" for="defaultCheck8">
                           Sốt
                        </label>
                     </div>
                  </form>
               </div
            
   <!--End noi dung-->
            <center>
               <h2>Upload Image</h2><br>
               <section class="upload">
                  <div>
                     <div class="img-preview">
                           <p><img id="output" width="400" /></p>
                     </div>
                     <div>
                           <form id = "upload"  action="/" method="POST" enctype="multipart/form-data">
                              <div class="form-group">
                                 <input type="file" id="image" name="image" onchange="loadFile(event)">
                              </div>
                              <div class="form-group">
                                 <button type="submit" id = 'predict' class="btn btn-primary" style="display: none;">Analyze</button>
                              </div>
                           </form>
                     </div>
                  </div>
               </section>

               <section class="Predictions">
                     <div>
                           {% if predictions %}
                           <button type="button" class="btn btn-success">NEGATIVE: {{predictions.negative}}</button>
                           <button type="button" class="btn btn-danger">POSITIVE: {{predictions.positive}}</button>
                           {% endif %}
                     </div>
               </section>
               <script>
                  // load image from local strorage
                  window.onload = function() {
                     let profileImage = localStorage.getItem("profileImageData");
                     if (profileImage !== null) {
                              document.getElementById("output").src = profileImage
                           }
                  }

                  // preview loaded image
                  const loadFile = function(event) {
                     document.getElementById('predict').style.display = 'block'
                     let image = document.getElementById('output');
                     image.src = URL.createObjectURL(event.target.files[0]);
                  };

                  // save loaded image to local storage
                  document.getElementById("image").addEventListener('change', function() {
                     var file = this.files[0];
                     var reader = new FileReader();
                     reader.readAsDataURL(file);
                     reader.onload = function () {
                           localStorage.setItem("profileImageData", reader.result);
                     };
                  } );
               </script>
               </center><br><br>
            <!--End noi dung-->
            
            
            </div>
         </div>
      </div>
      <!-- end contact -->
      </br>
<div>

<!-- update -->

{% endblock %}