
{% extends "pages/base.html" %}
{% block title %}CHẨN ĐOÁN{% endblock %}

{% block content %}
{% load staticfiles %}
 
<!-- header inner -->
<div class="contact">
         <div class="container">
            <div class="row">
                <div class="col-md-12">
                     <div class="titlepage text_align_left">
                        <h2>Các triệu chứng</h2>
                     </div>
                  </div>
            </div>
            <div class="row">
               <div class="col-md-6">
                  <form id="request" class="main_form">
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="menu_footer" for="defaultCheck1">
                           Ho
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                        <label class="menu_footer" for="defaultCheck2">
                           Sốt
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="menu_footer" for="defaultCheck3">
                           Khó thở
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                        <label class="menu_footer" for="defaultCheck4">
                           CRP tăng
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="menu_footer" for="defaultCheck5">
                           Ho
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                        <label class="menu_footer" for="defaultCheck6">
                           Sốt
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="menu_footer" for="defaultCheck7">
                           Ho
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                        <label class="menu_footer" for="defaultCheck8">
                           Sốt
                        </label>
                     </div>
                  </form>
               </div
            </div>
         </div>
      </div>
      <!-- end contact -->
      </br>
<div>

<!-- update -->

{% endblock %}