
{% extends "pages/base.html" %}
{% block title %}HOME{% endblock %}

{% block content %}
{% load staticfiles %}

<!-- header inner -->
         <div class="section">
            <!-- carousel code -->
            <div id="banner1" class="carousel slide slider_main">
               <ol class="carousel-indicators ">
                  <li data-target="#banner1" data-slide-to="0" class="indicator-li-1">01</li>
                  <li data-target="#banner1" data-slide-to="1" class="">02</li>
                  <li data-target="#banner1" data-slide-to="2" class="active">03</li>
               </ol>
               <div class="carousel-inner">
                  <!-- first slide -->
                  <div class="carousel-item active">
                     <div class="carousel-caption cuplle">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-8">
                                 <div class="photog">
                                    <h1>Chẩn đoán<br>thông minh</h1>
                                    <a class="read_more" href="javascript:void(0)" >Xem Thêm</a>
                                    <a class="read_more" href="{% url 'abouttt' %}" >Giới Thiệu</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- second slide -->
                  <div class="carousel-item">
                     <div class="carousel-caption cuplle">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-8">
                                <div class="photog">
                                    <h1>Care early<br>Coronavirus</h1>
                                    <a class="read_more" href="javascript:void(0)" >Xem thêm</a>
                                    <a class="read_more" href="#" >About Us</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- third slide -->
                  <div class="carousel-item">
                     <div class="carousel-caption cuplle">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-8">
                                <div class="photog">
                                    <h1>Care early<br>Coronavirus</h1>
                                    <a class="read_more" href="javascript:void(0)" >Xem thêm</a>
                                    <a class="read_more" href="#" >About Us</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- controls -->
               <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
               <i class="fa fa-angle-left" aria-hidden="true"></i>
               <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
               <i class="fa fa-angle-right" aria-hidden="true"></i>
               <span class="sr-only">Next</span>
               </a>
            </div>
         </div>
      </div>
      <!-- end banner -->
      <!-- about -->
      <div class="about">
         <div class="container_width">
            <div class="row d_flex">
                   <div class="col-md-7">
                  <div class="titlepage text_align_left">
                     <h2>CHẨN ĐOÁN THÔNG MINH</h2>
                     <p>Ứng dụng "AI trợ lý bác sĩ trong chẩn đoán hình ảnh' kết hợp công nghệ thị giác máy tính, xử lý ngôn ngữ tự nhiên nâng cao khả năng điều trị bệnh.
                     </p>
                     <a class="read_more" href="{% url 'chandoannn' %}">Chẩn đoán</a>
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="about_img text_align_center">
                     <figure><img src="{% static '/images/giphy.gif' %}" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end about -->
     <!-- coronata -->
      <div class="coronata">
         <div class="container">
            <div class="row d_flex grid">
               <div class="col-md-7">
                  <div class="coronata_img text_align_center">
                     <figure><img src="{% static 'images/corona.png' %}" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-5 oder1">
                  <div class="titlepage text_align_left">
                     <h2>Bệnh viêm phổi là gì?</h2>
                     <p>Thuật ngữ viêm phổi dùng để chỉ tình trạng nhiễm trùng gây viêm túi khí ở một bên phổi. Tuy nhiên, đôi khi vẫn có người gặp phải vấn đề trên ở cả hai lá phổi.
                     </p>
                     <a class="read_more" href="#">Tìm hiểu</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end coronata -->
   
        <!-- protect -->
      <div class="protect">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_center">
                     <h2>Cách bảo vệ bản thân</h2>
                     <p>Các biện pháp phòng tránh bệnh viêm phổi và ngăn ngừa biến chứng của viêm phổi
                     </p>
                  </div>
               </div>
            </div>
         </div>
           <div class="protect_bg">
         <div class="container">
             <div class="row">
               <div class="col-md-12">
                  <!--  Demos -->
                  <div class="owl-carousel owl-theme">
                     <div class="item">
                        <div class="protect_box text_align_center">
                          <div class="desktop">
                             <i><img src=" {% static 'images/pro1.png' %} " alt="#"/></i>
                           <h3> Mang khẩu trang</h3>
                           <span> Giúp ngăn cản sự lây nhiễm của một số loại virus gây bệnh qua đường hô hấp như bệnh cúm, bệnh lao… cản sự lây nhiễm của một số loại virut, vi khuẩn, nấm gây bệnh qua đường hô hấp gây viêm xoang</span>
                          </div>
                           <a class="read_more" href="protect.html">Xem thêm</a>
                        </div>
                     </div>
                     <div class="item">
                          <div class="protect_box text_align_center">
                          <div class="desktop">
                             <i><img src="{% static 'images/pro2.png' %}" alt="#"/></i>
                           <h3> Rửa tay đúng cách</h3>
                           <span>Ngăn ngừa nhiễm trùng đường hô hấp: Những yếu tố gây nhiễm trùng đường hô hấp bao gồm vi khuẩn, virút và thậm chí một số loại nấm với các triệu chứng phổ biến như ho, hắt hơi, sổ mũi, chảy nước mũi, nghẹt mũi... </span>
                          </div>
                           <a class="read_more" href="protect.html">Xem thêm</a>
                        </div>
                     </div>
                     <div class="item">
                         <div class="protect_box text_align_center">
                          <div class="desktop">
                             <i><img src=" {% static 'images/pro3.png' %}" alt="#"/></i>
                           <h3>Hạn chế ra ngoài</h3>
                           <span> Với yêu cầu hạn chế ra ngoài để tránh lây lan virus COVID-19, ở nhà là cách quan trọng để phòng chống sự lây lan của virus corona, nhằm bảo vệ cho sức khỏe của bạn và của cả cộng đồng</span>
                          </div>
                           <a class="read_more" href="protect.html">Xem thêm</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
          </div>
      </div>
         </div>
      </div>
      <!-- end protect -->
    <!-- cases -->
      <div class="cases">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_center ">
                     <h2>Các bệnh phổi thường gặp</h2>
                     <p>Viêm đường hô hấp dưới là hội chứng bao gồm tất cả các bệnh lý liên quan đến đường hô hấp dưới (khí quản, phế quản, tiểu phế quản và phổi) không phải lao.</p>
                  </div>
               </div>
            </div>
            <div class="row d_flex">
               <div class=" col-md-4">
                  <div class="latest text_align_center">
                     <figure><img src=" {% static 'images/cases1.png' %}" alt="#"/></figure>
                      <a class="read_more" href="cases.html">Xem thêm</a>
                     <div class="nostrud">
                        <h3>Viêm phế quản</h3>
                        <p>Niêm mạc phế quản bị kích thích phồng lên, tăng tiết dịch nhầy làm bịt tắc phế quản. Viêm phế quản được chia thành hai loại: Viêm phế quản cấp tính và Viêm phế quản mãn tính</p>
                     </div>
                  </div>
               </div>
               <div class=" col-md-4">
                  <div class="latest text_align_center">
                     <figure><img src="{% static 'images/cases2.png' %}" alt="#"/></figure>
                      <a class="read_more" href="cases.html">Xem thêm</a>
                     <div class="nostrud">
                        <h3>Viêm phổi</h3>
                        <p> Các tổ chức chính ở phổi, đặc biệt các phế nang (đơn vị giúp phổi trao đổi khí), bị tổn thương nghiêm trọng khiến dưỡng khí không thể đi vào máu.</p>
                     </div>
                  </div>
               </div>
               <div class=" col-md-4">
                  <div class="latest text_align_center">
                     <figure><img src="{% static 'images/cases3.png' %}" alt="#"/></figure>
                      <a class="read_more" href="cases.html">Xem thêm</a>
                     <div class="nostrud">
                        <h3>Viêm tiểu phế quản</h3>
                        <p>Siêu vi khuẩn gây viêm và khiến chất nhờn tích tụ trong đường hô hấp, khiến người bệnh khó thở. Bệnh thường chỉ xảy ra ở trẻ em dưới 12 tháng tuổi, khi các tiểu phế quản chưa phát triển toàn diện.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end cases -->
         <!-- doctors -->
      <div class="doctors">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_center ">
                     <h2>Các bác sĩ nói gì...</h2>
                  </div>
               </div>
            </div>
            <div class="row d_flex">
               <div class=" col-md-6">
                     <div id="ho_efcet" class="reader text_align_center">
                        <i><img src=" {% static 'images/doctor1.png' %}" alt="#"/></i>
                        <h3>Dr.Golap den</h3>
                        <p>Khi các sinh vật xâm nhập được vào phổi, các tế bào máu trắng - một phần quan trọng của hệ thống miễn dịch bắt đầu tấn công. Vi khuẩn, các tế bào máu trắng và các protein của hệ miễn dịch gây ra viêm túi phế nang và chứa đầy dịch, dẫn đến khó thở đặc trưng cho nhiều loại viêm phổi.</p>
                        <span><img src="{% static 'images/do.png' %}" alt="#"/></span>
                     </div>
                  </div>
                          <div class=" col-md-6">
                     <div id="ho_efcet" class="reader text_align_center">
                        <i><img src=" {% static 'images/doctor2.png' %} " alt="#"/></i>
                        <h3>Dr.Golap den</h3>
                        <p>Triệu chứng viêm phổi có thể khác nhau rất nhiều, tùy thuộc vào điều kiện cơ bản có thể có và loại sinh vật gây bệnh. Viêm phổi thường bắt chước các bệnh cúm, bắt đầu với cơn ho và sốt, vì vậy có thể không nhận ra có tình trạng nghiêm trọng hơn.</p>
                        <span><img src=" {% static 'images/do.png' %} " alt="#"/></span>
                     </div>
                  </div>
               </div>
         </div>
      </div>
      <!-- end cases -->
<!-- update -->
<div class="update">
   <div class="cevery_white">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>Theo dõi ngay.... </h2>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="cevery_bg">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <form id="colof" class="form_subscri">
                  <input class="newsl" placeholder="Địa chỉ mail" type="text" name="Email">
                  <button class="subsci_btn">Theo dõi ngay</button>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- update -->

{% endblock %}